.container {
  position: relative;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  padding: var(--spacing-sm);
  align-items: center;
  gap: var(--spacing-sm);
  border-radius: var(--radius-lg);
  background: #1e1e1e66;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  min-width: 0;
  width: 70vw;
  height: fit-content;
}

.container:focus,
.container:focus-visible,
.container:active {
  outline: none;
  background: #1e1e1e;
}

.showImg {
  display: block;
  height: 15vw;
  aspect-ratio: 9/15;
  border-radius: var(--radius-xs);
  border: none;
  background: #d9d9d9;
}

.info {
  display: flex;
  padding: var(--spacing-xs);
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-md);
  color: var(--color-text-primary);
  height: 15vw;
  min-width: 50px;
  text-overflow: ellipsis;

  h1 {
    text-align: left;
    color: var(--color-text-primary);
    width: 100%;
    font-family: var(--font-family-primary);
    font-size: 20px;
    font-style: normal;
    font-weight: var(--font-weight-bold);
    line-height: normal;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  width: 100%;
  align-items: flex-start;
}

.meta {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  align-items: center;
  color: var(--color-text-primary);
}

.rating {
  margin: 0;
  color: white;
}

.description {
  display: -webkit-box;
  font-size: var(--font-size-xs);
  line-height: 1.3;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

@media (max-width: 639px) {
  .container {
    align-items: flex-start;
    gap: var(--spacing-sm);
    justify-content: start;
    width: 60vw;
  }

  .meta {
    margin-top: auto;
  }
  .header {
    height: 80%;
  }

  .info {
    padding: 0;
    margin: 0;
    gap: 0;
    width: 100%;
    min-width: 0;
    max-height: unset;
    justify-content: center;
    align-self: stretch;
    padding: var(--spacing-sm) 0;
  }
  h1 {
    font-size: 1.4em !important;
    margin: 0;
    min-width: 100px;
    width: auto;
  }
  .container .description {
    display: none !important;
  }
}
