.container {
  position: relative;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  padding: 16px;
  align-items: center;
  width: fit-content;
  gap: 16px;
  border-radius: 20px;
  background: #1e1e1e66;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  scroll-snap-align: center;
}

.container:focus,
.container:focus-visible,
.container:active {
  outline: none;
  background: #1e1e1e;
}

.showImg {
  display: block;
  height: 400px;
  aspect-ratio: 9/15;
  border-radius: 20px;
  border: none;
  background: #d9d9d9;
}

.info {
  display: flex;
  padding: 8px;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: var(--white100);
  min-width: 400px;
  max-height: 400px;
  text-overflow: ellipsis;

  h1 {
    text-align: center;
    color: #dedede;
    width: 100%;
    font-family: Helvetica;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  align-items: center;
}

.meta {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  color: #dedede;
}

.rating {
  margin: 0;
  color: white;
}

.description {
  display: -webkit-box;
  font-size: 16px;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 6;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

@media (max-width: 645px) {
  .container {
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 8px;
    /*
    justify-content: start;
    align-items: center;
    width: fit-content; */
    justify-content: start;
  }

  .info {
    padding: 0;
    margin: 0;
    gap: 0;
    width: 100%;
    min-width: 0;
    max-height: unset;
    justify-content: flex-start;
  }
  h1 {
    font-size: 24px !important;
    margin: 0;
    text-wrap: balance;
  }
  .container .description {
    display: none !important;
  }
}
