.button {
  position: relative;
  display: flex;
  width: fit-content;
  padding: var(--spacing-sm) var(--spacing-md);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-md);
  border-radius: var(--radius-xl);
  z-index: var(--z-base);
  background: var(--color-primary-500);
  transition: background var(--transition-base);
}

.label {
  position: relative;
  z-index: 1;
  display: flex;
  gap: var(--spacing-md);
  justify-content: center;
  font-family: var(--font-family-primary);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  line-height: normal;
}
